ion-note {
    font-size: 0.8rem;
    font-weight: 500;
    position: relative;
    top: 8px;
}

.settings ion-list {
    background: transparent;
}

.dark .settings ion-item::part(native) {
    background: #101010;
}