:root {
    --day-card-margin: 5px;
    --day-card-100-width: 36px;
}

.day-card {
    margin: 16px var(--day-card-margin);
    height: calc(100vh - 220px);
    min-width: clamp(300px, calc(100% - var(--day-card-100-width)), 600px);
    scroll-snap-align: center;
}

.day-card-placeholder {
    min-width: calc((var(--day-card-100-width) - var(--day-card-margin)) / 2);
}

.day-card-mood {
    font-weight: 600;
}

.day-card-tags {
    opacity: 0.5;
    font-size: 0.9rem;
}
