.mood-input {
    margin: 0 22px;
    padding-bottom: 8px;
}

.mood-input::part(bar) {
    background: #888;
    opacity: 0.1;
    padding: 0 20px;
    height: 40px;
    border-radius: 20px;
    top: -14px;
    left: -21px;
}

.mood-input::part(bar-active) {
    display: none;
}

.mood-input::part(knob) {
    height: 34px;
    width: 34px;
    left: 8px;
}

.mood-caption {
    opacity: 0.5;
}