.moodInput {
    margin: 0 22px 36px;
}

.moodInput::part(bar) {
    background: #888;
    opacity: 0.1;
    padding: 0 20px;
    height: 40px;
    border-radius: 20px;
    top: -14px;
    left: -21px;
}

.moodInput::part(bar-active) {
    display: none;
}

.moodInput::part(knob) {
    height: 34px;
    width: 34px;
    left: 8px;
}

.moodInput::before, .moodInput::after {
    position: absolute;
    opacity: 0.5;
    font-size: 12px;
    font-weight: 700;
    top: 54px;
}

.moodInput::before {
    content: 'НЕПРИЯТНО';
    left: -10px;
}

.moodInput::after {
    content: 'ПРИЯТНО';
    right: -10px;
}
