.small {
    transform-origin: 50% 50%;
    transform: scale(0.15);
}

.wave {
    transform-origin: 50% 50%;
    transform: translateZ(0);
    will-change: transform, opacity;
}

.wave1:not(.animate) {
    transform: scale(2.25);
    opacity: 0.4;
}

.wave2:not(.animate) {
    transform: scale(2);
    opacity: 0.6;
}

.wave3:not(.animate) {
    transform: scale(1.5);
    opacity: 0.8;
}

.wave2.animate {
    animation-delay: 1s;
}

.wave3.animate {
    animation-delay: 2s;
}

.wave.animate {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-name: wave;
}

@keyframes wave {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(2);
        opacity: 0.25;
    }
    100% {
        transform: scale(2.25);
        opacity: 0;
    }
}
